.input-wrapper{
margin: 10px;
}
.input-field{
    width: 300px; 
   height: 30px;
}
.button{
   width: 300px; 
   height: 30px;
   background-color: rgb(228, 28, 28);
   color: aliceblue;
   border-radius: 5px;
}
.container{
    text-align: center;
}
.button-link{
    border: 0;
    cursor: pointer;
    background-color: transparent;
    color: skyblue;
    margin: 20px;
}
